apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api
  template:
    metadata:
        labels:
          app: api
    spec:
      containers:
      - name: api
        imagePullPolicy: IfNotPresent
        image: api-dotnet
        resources:
          limits:
            cpu: 500m
            memory: 512Mi