apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
data:
  init.sql: |
    CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

    CREATE SCHEMA IF NOT EXISTS todo;

    CREATE TABLE IF NOT EXISTS todo.items (
        id UUID PRIMARY KEY,
        name TEXT NOT NULL
    );

    CREATE TABLE IF NOT EXISTS todo.item_created (
        todo_item_id UUID REFERENCES todo.items(id),
        created_at TIMESTAMP NOT NULL
    );

    CREATE TABLE IF NOT EXISTS todo.item_started (
        todo_item_id UUID REFERENCES todo.items(id),
        started_at TIMESTAMP NOT NULL
    );

    CREATE TABLE IF NOT EXISTS todo.item_completed (
        todo_item_id UUID REFERENCES todo.items(id),
        completed_at TIMESTAMP NOT NULL
    );

    INSERT INTO todo.items VALUES ('05fe0c64-d083-486e-9e14-8757ed6e2ccf', 'イベントから読み取ってstatusを決める');
    INSERT INTO todo.items VALUES ('e0538e6e-2318-404b-b37c-c0b954d56663', '着手のイベントに変更する');
    INSERT INTO todo.items VALUES ('221c271f-5a14-4197-b906-15deafdf24d9', '完了済みのイベントに変更する');
    INSERT INTO todo.items VALUES ('f369f89b-147d-4ad1-b3cd-df00d384ca72', 'todoを消去する');
    INSERT INTO todo.items VALUES ('58a084e4-63bd-47f7-8869-42d5eb188931', 'ドメインイベントをつくる');
    INSERT INTO todo.items VALUES ('a4b3c83b-ec63-4037-9264-c2479f37f86c', 'RESTFULLらしい設計にする');
    INSERT INTO todo.items VALUES ('9fe40433-e20b-4271-8539-b9ca19be99e5', 'Id!という書き方が気になるのでなんとかする');
    INSERT INTO todo.items VALUES ('c7a56100-5615-4661-9a75-17240ade3ecd', 'Status変更できなかったときの処理をどう表現するか');
    INSERT INTO todo.items VALUES ('c3630194-7b35-4985-992a-670f7767cff0', 'Done状態のものになったやつはデフォルト表示で出さないようにしたい');
    INSERT INTO todo.item_completed VALUES ('e0538e6e-2318-404b-b37c-c0b954d56663', '2026-01-02 09:13:12.80831');
    INSERT INTO todo.item_completed VALUES ('221c271f-5a14-4197-b906-15deafdf24d9', '2026-01-02 09:13:57.627714');
    INSERT INTO todo.item_completed VALUES ('05fe0c64-d083-486e-9e14-8757ed6e2ccf', '2026-01-02 09:14:17.574775');
    INSERT INTO todo.item_completed VALUES ('58a084e4-63bd-47f7-8869-42d5eb188931', '2026-01-02 10:12:31.627604');
    INSERT INTO todo.item_completed VALUES ('9fe40433-e20b-4271-8539-b9ca19be99e5', '2026-01-02 10:25:09.28165');
    INSERT INTO todo.item_created VALUES ('05fe0c64-d083-486e-9e14-8757ed6e2ccf', '2026-01-02 07:50:02.7358');
    INSERT INTO todo.item_created VALUES ('e0538e6e-2318-404b-b37c-c0b954d56663', '2026-01-02 07:50:13.230179');
    INSERT INTO todo.item_created VALUES ('221c271f-5a14-4197-b906-15deafdf24d9', '2026-01-02 07:50:38.474851');
    INSERT INTO todo.item_created VALUES ('f369f89b-147d-4ad1-b3cd-df00d384ca72', '2026-01-02 07:50:47.885031');
    INSERT INTO todo.item_created VALUES ('58a084e4-63bd-47f7-8869-42d5eb188931', '2026-01-02 09:00:20.092307');
    INSERT INTO todo.item_created VALUES ('a4b3c83b-ec63-4037-9264-c2479f37f86c', '2026-01-02 09:15:29.678503');
    INSERT INTO todo.item_created VALUES ('9fe40433-e20b-4271-8539-b9ca19be99e5', '2026-01-02 09:16:00.698581');
    INSERT INTO todo.item_created VALUES ('c7a56100-5615-4661-9a75-17240ade3ecd', '2026-01-02 09:17:01.639662');
    INSERT INTO todo.item_created VALUES ('c3630194-7b35-4985-992a-670f7767cff0', '2026-01-02 09:17:51.400673');
    INSERT INTO todo.item_started VALUES ('05fe0c64-d083-486e-9e14-8757ed6e2ccf', '2026-01-02 08:50:06.285272');
    INSERT INTO todo.item_started VALUES ('58a084e4-63bd-47f7-8869-42d5eb188931', '2026-01-02 09:00:57.628991');
    INSERT INTO todo.item_started VALUES ('221c271f-5a14-4197-b906-15deafdf24d9', '2026-01-02 09:11:30.723045');
    INSERT INTO todo.item_started VALUES ('e0538e6e-2318-404b-b37c-c0b954d56663', '2026-01-02 09:12:04.385872');
    INSERT INTO todo.item_started VALUES ('9fe40433-e20b-4271-8539-b9ca19be99e5', '2026-01-02 10:25:07.951091');
