apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS todo_items (
        id SERIAL PRIMARY KEY,
        name TEXT NOT NULL,
        is_complete BOOLEAN NOT NULL
    );

    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 1', false);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 2', true);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 3', false);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 4', true);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 5', false);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 6', true);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 7', false);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 8', true);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 9', false);
    INSERT INTO todo_items (name, is_complete) VALUES ('Todo 10', true);