apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres-db-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
        spec:
            containers:
            - name: postgres
              image: postgres:15.1-alpine
              env:
                - name: POSTGRES_PASSWORD
                  value: password
                - name: POSTGRES_USER
                  value: postgres
              volumeMounts:
                - name: init-script
                  mountPath: /docker-entrypoint-initdb.d
                  readOnly: true
              resources:
                limits:
                    cpu: 500m
                    memory: 512Mi
            volumes:
                - name: init-script
                  configMap:
                    name: postgres-init-script
